:root {
    --primary-color: #337ab7;
}
.app {
    text-align: center;
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    grid-template-rows: 100px 1fr 20px;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "footer footer footer";
    height: 100vh;
}
.app header {
    grid-area: header;
}
.note {
    grid-area: content;
    position: relative;
    font-size: 14px;
    font-family: monospace;
}
.note::before {
    width: calc(80ch + 2px);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 1px solid #aaa;
    z-index: 1000;
    pointer-events: none;
}
.note textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    font-size: inherit;
}
.sidebar {
    grid-area: sidebar;
    padding: 5px;
}
.sidebar input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 10px;
}
.link {
    color: black;
    display: block;
    padding: 6px 0;
    border-radius: 5px;
    text-decoration: none;
}
.activeLink {
    color: white;
    background: var(--primary-color);
}
.note, .sidebar {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.footer {
    grid-area: footer;
}
.footer p {
    margin: 0;
    font-size: 14px;
    font-family: monospace;
}
.footer a, .footer a:active {
    color: var(--primary-color);
}
.footer a:hover {
    color: white;
    background: var(--primary-color);
    text-decoration: none;
}
