.app {
    text-align: center;
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    grid-template-rows: 100px 1fr 20px;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "footer footer footer";
    height: 100vh;
}
.app header {
    grid-area: header;
}
.note {
    grid-area: content;
    position: relative;
    font-size: 14px;
    font-family: monospace;
}
.note::before {
    width: calc(80ch + 2px);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 1px solid #aaa;
    z-index: 1000;
    pointer-events: none;
}
.note textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    font-size: inherit;
}
.sidebar {
    grid-area: sidebar;
}
.app footer {
    grid-area: footer;
}
.note, .sidebar {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.footer p {
    margin: 0;
    font-size: 14px;
    font-family: monospace;
}
